html, body {
	height:100%;
}

.App-header {
	padding: 12px 8px 8px 8px;
	background-color: #282c34;
	height: auto;
	display: flex;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-header-text {
	font-size: 16px;
}

.App-shop {
	padding: 1rem 1rem 3rem;
	height: 100%;
}


nav, ul {
	width: 98%
}

.Product {
	height: 500px;
}

ul {
	list-style-type: none;
	display: flex;
	width: auto;
	justify-content: space-between;
}

a {
	color: white;
	text-decoration: none;
}

@media (min-width: 800px) {
	.App-products {
		display: flex;
		justify-content: center;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
